.screen-header__icons {
    position: relative;
}

.screen-header__icons--dot {
    position: absolute;
    width: 5px;
    height: 5px;
    right: -5px;
    top: -8px;
}

.herder__notification {
    position: absolute;
    left: 15px;
    bottom: 15px;
}


.recommended-friends {
    margin: 25px 0px;
    padding: 25px 0px;
    border-top: var(--main-border);

}

.recommended-friends__title {
    font-size: 14px;
    color: var(--main-text);
}

.recommended-friends span { /* span은 inline margin 적용 x block으로 change*/
    margin: 100px 0px;
    display: block;
    text-align: center;
    color: var(--main-text);
}

.open-chat__header {
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
    margin-bottom: 25px;
}

.open-chat__header span {
    opacity: 0.6;
}

/* justify-content: space-between; align-items: center; 이 두개의 조합을 엄청 자주 쓰임 */
.open-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.open-post__title {
    font-weight: 600;
    margin-bottom: 7px;
}

/* uppercase 소문자를 대문자로 변경 */
.open-post__hashtag {
    text-transform: uppercase;
    opacity: 0.6;
}

.open-post__members{
    margin-top: 7px;
    display: flex;
    align-items: center;
}

.open-post__members img {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
}

.open-post__member-count {
    opacity: 0.5;
    font-size: 14px;
}

/* 아래와 같이 작성하면 open-post__members에만 있는 .divider만 적용 */
.open-post__members .divider {
    width: 2px;
    height: 15px;
    margin: 0 5px;
    background-color: rgba(0, 0, 0, 0.2);
}

.open-post__member-status {
    color: #ffb0c0;
}

.open-post__photo {
    position: relative;
}

.open-post__photo img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

/* absolute의 특징 적용된 요소의 크기는 내용의 크기만큼 자동으로 인지된다. 
   - div의 속성에서 벗어나기 때문에 */
.open-post__heart-count {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size:  12px;
}       

.open-post__heart-count span {
    margin-left: 3px;
}

/* will-cange 기본적으로 브라우저에게 뭔가 바뀔꺼라고 말해준다 
   컴퓨터 그래픽카드를 이용해서 애니메이션을 가속화 할 수 있다 - 애니메이션을 좀 더 부드럽게 */
@keyframes heartBeat {
    0%{
        color: white;
        transform: none;
    }
    50%{
        color: tomato;
        transform: scale(1.5);
    }
    100%{
        color: white;
    }
}

.open-post__heart-count:hover i {
    will-change: transform;
    animation: heartBeat 1s linear infinite;
}